#alice {
    width: 440px;
    padding-bottom: 4px;
}

#spiderman {
    width: 400px;
}

#devil {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rabbits {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#boromir, #olaf {
    height: 450px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#indexImages {
    text-align: center;
}

#sewing {
    width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#party {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#SteveRogers, #SallyRogers {
    width: 360px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#about {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#index {
    width: 450;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    text-align: justify;
}

body {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
    background-color: lightgray;
    
}

h1, h2 {
    text-align: center;
}

form p {
    text-align: center;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#links p {
    text-align: center;
}

#menu {
    width: 850px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
}

#menu a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
}

#menu a:hover {
    color: black;
    background-color: lightgray;
}

li {
    display: inline-block;
    list-style-type: none;
}